.Pagination {
    display: flex;
    justify-content: center;
    margin-right: -10px;
    flex-wrap: wrap;
}

.ellipsis {
    padding: 0;
    color: #ffffff99;
    display: block;
    margin-right: 10px;
}

.num, .preNext {
    height: 28px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-family: "Roboto", sans-serif;
    color: #ffffff99;
    margin-right: 10px;
    background: none;
    border: 0;
    cursor: pointer;
}

.num:hover {
    background-color: #fff2;
}

.num.active {
    color: #ff6a63;
    text-decoration: underline;
}

.preNext {
    width: 28px;
    padding: 0;
}